/* MAIN TAGS */

body{
    margin: 0%;
    background-color: #BEE9F9;
    font-family: 'Brush Script MT', cursive;
    margin-bottom: 2%;
    color: black;
}

h2{
    align-self: center;
}

section{
    display: flex;
    background-color: #ffffff;
    margin-top: 60px;
    margin-left: 150px;
    margin-right: 150px;
    padding-left: 54px;
    padding-right: 54px;
    padding-bottom: 50px;
    padding-top: 20px;
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: black;
}

/* BANNER */

.banner{
    background-color: #A7C7E7;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

/* ABT ME */

.aboutMeSection{
    display: flex;
    flex-direction: column;
}

.aboutMe{
    display: flex;
}

.personDesc{
    margin-left: 95px;
    font-size: 25px;
}

.personImg{
    height: 286px;
    width: 334px;
}

/* HIGHLIGHT */

.highlightedProducts{
    display: flex;
    flex-direction: column;
    align-items: center;         /* vertical centering */
    justify-content: center;     /* horizontal centering */
}

.highlightedSection{
    display: flex;
    flex-direction: column;
}

.highlightedBox{
    display: flex;
    justify-content: space-around;
}

.highlightedYum{
    height: 213px;
    width: 192px;
}

.highlightedProductsButton{
    width: 100px;
    display: flex;               /* makes centering easy */
    align-items: center;         /* vertical centering */
    justify-content: center;     /* horizontal centering */
    background-color: #d9d9d9; /* light grey like in your design */
    color: black; /* text color */
    font-weight: 500;
    text-decoration: none; /* removes underline for links */
    padding: 8px 20px;
    border: none;
    border-radius: 12px; /* rounded corners */
    cursor: pointer;
}

.moreLink{
    justify-content: center;
    align-self: center;
    margin-top: 10px;
}